<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="class-header">
  <div class="class-info">
    <h1 class="class-title">Thesis Writing 2</h1>
    <p class="class-code">Class Code: 12345</p>
    <p class="class-schedule">Saturday, April 4, 2025, 00:00 PM</p>
  </div>
</div>

<div class="class-contents">
  <div class="class-nav">
    <div class="nav-item" [class.active]="isActiveTab('Class Feed')" (click)="setActiveTab('Class Feed')">Class Feed
    </div>
    <div class="nav-item" [class.active]="isActiveTab('Activities/Resources')"
      (click)="setActiveTab('Activities/Resources')">Activities/Resources</div>
    <div class="nav-item" [class.active]="isActiveTab('Student Works')" (click)="setActiveTab('Student Works')">Student
      Works</div>
    <div class="nav-item" [class.active]="isActiveTab('Class List')" (click)="setActiveTab('Class List')">Class List
    </div>
    <div class="nav-item" [class.active]="isActiveTab('Messaging')" (click)="setActiveTab('Messaging')">Messaging</div>
  </div>
  <div class="content-area">
    <div *ngIf="isActiveTab('Class Feed')">
      <div class="class-create-posts">
        <h1>Create Post</h1>
        <mat-icon class="user-icon">
          account_circle
        </mat-icon>
        <mat-form-field class="post-input">
          <mat-label>What's on your mind?</mat-label>
          <input matInput placeholder="Write your post...">
        </mat-form-field>

        <button matMiniFab class="btn-elevated">
          <mat-icon class="img-icon">
            add_photo_alternate
          </mat-icon>
        </button>

        <button matMiniFab class="btn-elevated-2">
          <mat-icon class="img-icon-2">
            video_call
          </mat-icon>
        </button>

        <button matMiniFab class="btn-elevated-3">
          <mat-icon class="img-icon-3">
            attach_file
          </mat-icon>
        </button>

        <button matButton="elevated" class="btn-elevated-4">
          Posts
        </button>
      </div>
    </div>
    <div *ngIf="isActiveTab('Activities/Resources')">
      <h2>Activities & Resources</h2>
      <p>Access class activities and learning resources for Thesis Writing 2.</p>
    </div>
    <div *ngIf="isActiveTab('Student Works')">
      <h2>Student Works</h2>
      <p>View and manage student submissions and assignments.</p>
    </div>
    <div *ngIf="isActiveTab('Class List')">
      <h2>Class List</h2>
      <p>View the list of students enrolled in this class.</p>
    </div>
    <div *ngIf="isActiveTab('Messaging')">
      <h2>Messaging</h2>
      <p>Communicate with students and send important announcements.</p>
    </div>
  </div>
</div>

