<h1>
        Classes<mat-icon
          class="laptop-icon"
          fontIcon="laptop"
          style="vertical-align: middle; padding: 5px; border-radius: 5px"
        ></mat-icon>
      </h1>
      <p style="color: #000; font-size: 15px">
        12:41 AM | 12th October 2023
      </p>
      <hr />

<div class="card-container">
  <mat-card class="custom-card" *ngFor="let classItem of classes">
    <div class="card-header">
      <p class="class-code">Class Code: {{ classItem.classCode }}</p>
      <h2 class="class-title">{{ classItem.className }}</h2>
      <p class="class-time">{{ classItem.classDate }}</p>
      <p class="class-room"> {{ classItem.classRoom }}</p>
    </div>
    <div class="card-footer">
      <button mat-stroked-button color="primary">Enter ›</button>
    </div>
  </mat-card>
</div>