<div *ngIf="!childActive">
  <h1>
    Classes
  </h1>


  <p style="color: #000; font-size: 15px">{{currentTime}}</p>
  <hr />
</div>


<div class="card-container" *ngIf="!childActive">
  <mat-card class="custom-card" *ngFor="let classItem of classes">
    <div class="card-header">
      <p class="class-code">Class Code: {{ classItem.classCode }}</p>
      <h2 class="class-title">{{ classItem.className }}</h2>
      <p class="class-time">{{ classItem.classDate }}</p>
      <p class="class-room">{{ classItem.classRoom }}</p>
    </div>
    <div class="card-footer">
      <button mat-stroked-button color="primary" (click)="goToClass(classItem.routePath)">Enter ›</button>
    </div>
  </mat-card>
</div>
<router-outlet (activate)="onActiveChild()" (deactivate)="onDeactivateChild()"></router-outlet>